* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 980px;
  margin: 0 auto;
}
.menu__top {
  width: 100%;
  border-bottom: 1px solid rgb(211, 211, 211, 0.4);
  text-align: end;
  padding: 8px 4px;
}

.menu__top a {
  color: rgb(102, 101, 101);
  text-decoration: none;
  padding: 0 10px;
}

.menu__top :not(:last-child) {
  border-right: 1px solid rgb(211, 211, 211, 0.4);
}

.logo {
  width: 230px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
  border-bottom: 1px solid rgb(211, 211, 211, 0.4);
}
nav span {
  cursor: pointer;
}
.font--bold {
  font-weight: 700;
}
.nav__inputs {
  display: flex;
  gap: 20px;
  align-items: center;
}
input[type="file"] {
  display: none;
}

.nav__insert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 0, 0, 0.1);
  color: #f9423a;
  width: 190px;
  border-radius: 5px;
  padding: 8px 12px;
}
.custom-file-upload,
.custom-file-upload img {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.header__search__inputs {
  display: flex;
  box-shadow: 0 10px 24px 0 #0000001a;
  padding: 20px;
  border-radius: 4px;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 60px;
}
.input-container {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}
#search-input {
  padding: 12px;
  border: 1px solid #dfe3ed;
  width: 260px;
  border-radius: 4px;
  height: 48px;
}
.searchBtn {
  background-color: #f9423a;
  border: none;
  border-radius: 4px;
  width: 64px;
  height: 48px;
}
main {
  width: 100%;
  text-align: center;
  margin-top: 45px;
}

.cards__container {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.card {
  width: 220px;
  height: 148px;
  border-radius: 8px;
  padding: 32px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-btn {
  background: #0000;
  border: 1px solid #ffffffa6;
  color: #fff;
  border-radius: 4px;
  width: 100%;
  padding: 8px 0;

  text-align: center;
}

.bg--blue {
  background-color: #2650ff;
}

.bg--orange {
  background-color: #f2a700;
}

.bg--violet {
  background-color: #9924ff;
}

.bg--green {
  background-color: #07bb9c;
}
