* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
  margin: 0 auto;
}
.menu__top {
  width: 100%;
  border-bottom: 1px solid rgb(211, 211, 211, 0.4);
  text-align: end;
  padding: 8px 4px;
}

.menu__top a {
  color: rgb(102, 101, 101);
  text-decoration: none;
  padding: 0 10px;
}

.menu__top :not(:last-child) {
  border-right: 1px solid rgb(211, 211, 211, 0.4);
}

.logo {
  width: 130px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
  border-bottom: 1px solid rgb(211, 211, 211, 0.4);
}
nav span {
  cursor: pointer;
}
.font--bold {
  font-weight: 700;
}
.nav__inputs {
  display: flex;
  gap: 20px;
  align-items: center;
}
input[type="file"] {
  display: none;
}

.nav__insert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 0, 0, 0.1);
  color: red;
  width: 190px;
  border-radius: 5px;
  padding: 8px 12px;
}
.custom-file-upload {
  border: 2px solid red;
  font-weight: bolder;
  font-size: small;
  display: inline-block;
  border-radius: 5px;
  padding: 0px 2px;
  cursor: pointer;
}
