* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 980px;
  margin: 0 auto;
}
.menu__top {
  width: 100%;
  border-bottom: 1px solid rgb(211, 211, 211, 0.4);
  text-align: end;
  padding: 8px 4px;
}

.menu__top a {
  color: rgb(102, 101, 101);
  text-decoration: none;
  padding: 0 10px;
}

.menu__top :not(:last-child) {
  border-right: 1px solid rgb(211, 211, 211, 0.4);
}

.logo {
  width: 230px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
  border-bottom: 1px solid rgb(211, 211, 211, 0.4);
}
nav span {
  cursor: pointer;
}
.font--bold {
  font-weight: 700;
}
.nav__inputs {
  display: flex;
  gap: 20px;
  align-items: center;
}
input[type="file"] {
  display: none;
}

.nav__insert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 0, 0, 0.1);
  color: #f9423a;
  width: 190px;
  border-radius: 5px;
  padding: 8px 12px;
}
.custom-file-upload,
.custom-file-upload img {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.header__search__inputs {
  display: flex;
  box-shadow: 0 10px 24px 0 #0000001a;
  padding: 20px;
  border-radius: 4px;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 60px;
}
.input-container {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}
#search-input {
  padding: 12px;
  border: 1px solid #dfe3ed;
  width: 260px;
  border-radius: 4px;
  height: 48px;
}
.searchBtn {
  background-color: #f9423a;
  border: none;
  border-radius: 4px;
  width: 64px;
  height: 48px;
}
main {
  width: 100%;
  text-align: center;
  margin-top: 45px;
}

main h2 {
  color: rgb(102, 101, 101);
}
.cards__container {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.card {
  width: 220px;
  height: 148px;
  border-radius: 8px;
  padding: 32px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-btn {
  background: #0000;
  border: 1px solid #ffffffa6;
  color: #fff;
  border-radius: 4px;
  width: 100%;
  padding: 8px 0;

  text-align: center;
}

.bg--blue {
  background-color: #2650ff;
}

.bg--orange {
  background-color: #f2a700;
}

.bg--violet {
  background-color: #9924ff;
}

.bg--green {
  background-color: #07bb9c;
}
.info__section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.info__top,
.info__bottom {
  display: flex;
  align-items: center;
  width: 100%;
}
.info__section--text {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.info__section--text a {
  text-decoration: none;
  color: #f9423a;
}
.info__section--text p {
  color: rgb(102, 101, 101);
}
.info__section--text h5 {
  color: #f9423a;
}
.info__bottom img {
  width: 540px;
  height: auto;
}
.pay__cards__container {
  display: flex;
  gap: 15px;
  padding: 12px;
}

.pay__card {
  width: 300px;
  height: 216px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 12px 24px;
}
.pay__card a {
  text-decoration: none;
  height: 40px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9423a;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
}

.pay__img {
  background-image: url(./img/pay.webp);
}
.sell__img {
  background-image: url(./img/sell.webp);
}

.bottom__container {
  background-color: #f7f8fb;
  width: 100%;
  text-align: start;
  padding: 20px;
}
.card__bottom__container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.card__bottom {
  height: 250px;
  padding: 0 16px 20px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.card__bottom img {
  width: 265px;
  height: 150px;
}
.app_container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.btn__links__container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

section {
  margin-bottom: 20px;
}
